h1 {
    text-align: center;
    margin-top: 150px;
    font-size: 70px;
    color: #264a8e;
    font-family: "Poppins";
    font-weight: 700;
}

h4 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

* {
    font-family: "Pretendard";
}

img-thumbnail {
    object-fit: contain;
}