h1 {
    text-align: center;
    margin-top: 150px;
    font-size: 70px;
    color: #264a8e;
    font-family: "Pretendard";
    font-weight: 700;
}

h4 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
    color: #264a8e;
    font-weight: bold;
}

* {
    font-family: "Pretendard";
}

img-thumbnail {
    object-fit: contain;
}

/* 이미지 업로드 css */
#root {
    width: 70%;
    margin: 0 auto;
    max-width: 60rem;
}
  
.title {
    text-align: center;
    margin-top: 69px;
    font-size: 35px;
    color: #264a8e;
    font-family: "Poppins";
    font-weight: 700;
}
  
.contents {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.contents .upload-box {
    width: calc(50% - 15px);
    box-sizing: border-box;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.contents .upload-box .drag-file {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px dashed #dbdbdb;
}
.contents .upload-box .drag-file.highlight {
    border: 3px dashed red;
}

.contents .upload-box .drag-file .image {
    width: 40px;
}
.contents .upload-box .drag-file .message {
    margin-bottom: 0;
}
.contents .upload-box .file-label {
    margin-top: 30px;
    background-color: cornflowerblue;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 65%;
    border-radius: 6px;
    cursor: pointer;
}
.contents .upload-box .file {
    display: none;
}
  
.contents .files {
    width: calc(50% - 15px);
    box-sizing: border-box;
    overflow: auto;
    height: 360px;
}
.contents .files .file {
    display: flex;
    padding: 20px 20px;
    border-bottom: 1px solid #dbdbdb;
}
.contents .files .file:last-child {
    margin-bottom: 0px;
    border-bottom: none;
}
  
.contents .files .file .thumbnail {
    display: flex;
    flex: none;
    width: 50px;
    margin-right: 20px;
    align-items: center;
}
.contents .files .file .thumbnail .image {
    width: 100%;
}
  
.contents .files .file .details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contents .files .file .details .header {
    display: flex;
}
.contents .files .file .details .header .name {
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.contents .files .file .details .header .size {
    margin-left: auto;
}
  
.contents .files .file .progress {
    position: relative;
    height: 6px;
    background-color: #dbdbdb;
    overflow: hidden;
    margin-top: 4px;
    border-radius: 10px;
}
.contents .files .file .progress .bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: darkgrey;
}
  
.contents .files .file .status {
    display: flex;
    width: 100%;
}
.contents .files .file .status .percent {
}
.contents .files .file .status .speed {
    margin-left: auto;
}
  
@media(max-width: 700px) {
    .contents {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    .contents .upload-box {
        width: 100%;
        box-sizing: border-box;
        margin-right: 0;
    }
    .contents .upload-box .drag-file {
        height: 150px;
    }
    .contents .files {
        width: 100%;
        box-sizing: border-box;
        margin-right: 0;
        overflow: initial;
    }
}